*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1c480;
}
main{
    background-color: #f1c480;

}
h1 {
    color: #c77305    ;
    font-size: 30px;
    text-align: center;
    margin: 25px;

}
h2{
    color: #c77305;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
h3{
    color: #c77305;
    font-size: 20px;
}
h5{
    color: #c77305;  
}
p{  
    color: #c77305;
    font-size: medium;
    font-size: 16px;
}
.menu-navegacion img{
    width: 100px;

    
}

header {
    background-color: #c77305;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    
    

}
header nav ul {
    list-style: none;
    display: flex;
    column-gap: 15px;
    
    
}
header nav ul li a{
    color: #ffd08a;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

    header main ul li a{
        color: #ffd08a;
        text-decoration: line-through;
    }
    .inicio img{
        width: 700px;
        height: 500px;
    }
    .parrafos-inicio p{
        font-size: 20px;
    }
    .inicio {
        display: flex;
        justify-content:space-around;
        text-align: justify;
        padding: 20px;
        
    }
    .parrafos-inicio {
        display: table-column;
        margin: 40px;
        
    }
.card{
    background-color: #f1c480;
    
    

}
.card-body{
    padding: 40px;
    margin: 10px;
    text-align: left;
}
.card-title{
    color: #c77305;
    font-size: 26px; 
}
.card-text{
    color: #c77305;
    font-size: 20px;
}

.cards {
    width: 350px;
    height: 380px;
    border-radius: 20px 0px;
    overflow: hidden;
    box-shadow: 10px 12px 28px 0px #c77305;
}
.cards img {
    width: 100%;
    height: 200px;
}
.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
    padding-bottom: 40px;
}
.card-texto-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 180px;
    padding: 10px;
    
}
.card-links{
    color:#c77305 ;
    
}
.container {
    justify-content: center;
margin-top: 30px;
padding-bottom: 30px;
}
.col-4{
    font-size: 26px;
    color: #fd7404;
text-decoration-color: #f1c480;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
form{
    padding-left: 500px;
    
    
}
label{
    color: #c77305;
    font-size: 20px;
    justify-content: center;
}
input{color: #c77305;
    font-size: 16px;
    justify-content: center;
    background-color: #f1c480;
}
textarea{
    background-color: #f1c480;
    color: #c77305;
}


.redes-sociales img{
    width: 35px;
    height: 35px;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    background-color:#f1c480 ;

}
@media screen and (max-width:1024px) {
    
}
@media screen and (max-width:768px) {
    header{
        flex-direction: column;
        justify-content: center;
    }
    .menu-navegacion{
        flex-direction:column
    }
    .inicio{
        flex-direction: column;
        justify-content: center;
    }
    .inicio img{
        width: 300px;
        height: 200px;
        padding: 0;
        box-sizing: border-box none;
    }
    .parrafos-inicio{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        box-sizing: border-box none;
    }
}
   /* header nav ul {
        display: flex;
        flex-wrap: wrap;
        

    }