*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1c480;
}
main{
    background-color: #f1c480;

}
h1 {
    color: #292e01    ;
    font-size: 26px;
    text-align: center;
    margin: 25px;

}
h2{
    color: #292e01;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
h3{
    color: #292e01;
    font-size: 20px;
}
p{  
    color: #292e01;
    font-size: medium;
    font-size: 16px;
}
.menu-navegacion img{
    width: 100px;

    
}

header {
    background-color: #292e01;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    
    

}
header nav ul {
    list-style: none;
    display: flex;
    column-gap: 15px;
    
    
}
header nav ul li a{
    color: #ffd08a;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

    header main ul li a{
        color: #99a534;
        text-decoration: line-through;
    }
    .inicio img{
        width: 700px;
        height: 500px;
    }
    .parrafos-inicio p{
        font-size: 20px;
    }
    .inicio {
        display: flex;
        justify-content:space-around;
        text-align: justify;
        padding: 20px;
        
    }
    .parrafos-inicio {
        display: table-column;
        margin: 40px;
        
    }

.nosotros {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template : 2fr;
    grid-template-rows: repeat(3);
    grid-template-areas: 
    "mision""texto-mision"
    "staff" "texto-staff"
    "instalaciones""texto-instalaciones" ; 
}          
.mision img{
    width: 350px;
    object-fit: cover;
    grid-area:"mision";
    grid-column: span 1;

}
.staff img{
    width: 350px;
    object-fit: cover;
    grid-area: "texto-staff";
    grid-column: span 4;
}
.intalaciones img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    grid-area: "instalaciones";
    grid-column: span 5;
    
}
.texto-mision{
    grid-area: "texto-mision";
    grid-column: span 2;
}
.texto-staff{
    grid-area: "staff";
    grid-column: span 3;
}
.texto-instalaciones{
    grid-area: "instalaciones";
    grid-column: span 6;
}
.cards {
    width: 350px;
    height: 380px;
    border-radius: 20px 0px;
    overflow: hidden;
    box-shadow: 10px 12px 28px 0px #292e01;
}
.cards img {
    width: 100%;
    height: 200px;
}
.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
    padding-bottom: 40px;
}
.card-texto-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 180px;
    padding: 10px;
    
}
.card-links{
    color:#292e01 ;
    
}

.talleres img{
    width: 75px;
}
.redes-sociales img{
    width: 35px;
    height: 35px;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    background-color:#f1c480 ;

}
@media screen and (max-width:1024px) {
    
}
@media screen and (max-width:768px) {
    header{
        flex-direction: column;
        justify-content: center;
    }
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        

    }
}